* {
    box-sizing: border-box;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

form {
    width: 30rem;
    margin: auto;
}

.input-box {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 15px 15px;
}

select {
    min-width: 5rem;
    padding: 8px 15px;
}

input, select {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.b2 {
    display: grid;
    grid-template-columns: auto 5rem 5rem;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: start;
}

button {
    background-color: #44c120;
    width: 100%;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 200px;
}
